---
layout: default
---
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date">
  <span><i class="fa fa-clock-o"></i> {{ page.date | date: "%Y-%m-%d"  }}</span>
  <span class="extra-right"><i class="fa fa-tags"></i> {{ page.tags | array_to_sentence_string }}
</span>
  </div>
  {{ content }}
</div>
    <div class="read-more">
      {% if page.previous %}
        <div class="list-item right">
          <h4><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">{{page.previous.title}} <i class="fa fa-arrow-circle-right"></i></a></h4>
          <span><i class="fa fa-clock-o"></i>{{ page.previous.date | date: "%Y-%m-%d" }}</span>
        </div><!-- /.read-more-previous -->
      {% endif %}
      {% if page.next %}
        <div class="list-item left">
          <h4><a href="{{ page.next.url }}" title="{{ page.next.title }}"><i class="fa fa-arrow-circle-left"> {{page.next.title}}</i></a></h4>
          <span><i class="fa fa-clock-o"></i>{{ page.next.date | date: "%Y-%m-%d" }}</span>
        </div><!-- /.read-more-next -->
      {% endif %}
    </div><!-- /.read-more -->
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="{{ page.title }}" data-title="{{ page.title }}" data-url="{{ post.url }}"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"sunnyyoung"};
     (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
    </script>
<!-- 多说公共JS代码 end -->